<div class="account-module">
  <div class="page-header">
    <h1>客户详情</h1>
  </div>
  <div class="filter clearfix">
    <div class="row">
      <div class="col-sm-12">
        <div class="userInfo">
          <ul class="se-list">
            <li>
              <label class="control-label text-normal text-nowrap txtleft w-auto">姓名：</label>
              {{userInfo.realName}}
            </li>
            <li>
              <label class="control-label text-normal text-nowrap txtleft w-auto">昵称：</label>
              {{userInfo.userName}}
            </li>
            <li>
              <label class="control-label text-normal text-nowrap txtleft w-auto">ID：</label>
              {{userInfo.ID}}
            </li>
            <li>
              <label class="control-label text-normal text-nowrap txtleft w-auto">手机号：</label>
              {{userInfo.mobilePhone}}
            </li>
            <li>
              <label class="control-label text-normal text-nowrap txtleft w-auto">经纪人：</label>
              {{userInfo.brokerName|investerFilter}}
            </li>
            <li>
              <button ng-if="!userInfo.brokerName" type="submit" class="btn btn-primary ml10" ng-disabled="form.$invalid || processing" ng-click="edit('add')">
                <i class="fa fa-search"></i> 添加
              </button>
              <button ng-if="userInfo.brokerName" type="submit" class="btn btn-primary ml10" ng-disabled="form.$invalid || processing" ng-click="edit('update')">
                <i class="fa fa-search"></i> 修改
              </button>
              <button ng-if="userInfo.brokerName" type="submit" class="btn btn-primary ml10" ng-disabled="form.$invalid || processing" ng-click="delete()">
                <i class="fa fa-search"></i> 删除
              </button>
            </li>
          </ul>
        </div>
        <div class="form-inline">
          <ul class="se-list">
            <li>
              <button type="submit" class="btn btn-primary ml10" ng-disabled="form.$invalid || processing" ng-click="tabChange(1)">
              <i class="fa fa-search"></i> 投资记录
              </button>
            </li>
            <li>
              <button type="submit" class="btn btn-primary ml10" ng-disabled="form.$invalid || processing" ng-click="tabChange(2)">
              <i class="fa fa-search"></i> 变更记录
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <table class="table table-hover"  ng-if="detailType==1">
    <thead>
      <tr>
        <th>投资时间</th>
        <th>投资项目</th>
        <th>项目ID</th>
        <th>投资期限(月)</th>
        <th>年化利率</th>
        <th>经纪人</th>
        <th>投资金额</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="loading">
        <td class="loading-holder" colspan="40">
          <div class="text-center"><span class="loading"></span></div>
        </td>
      </tr>
      <tr ng-if="list.length == 0">
        <td colspan="40">
          <div class="text-center">抱歉，没有相关数据</div>
        </td>
      </tr>
      <tr ng-repeat="item in list"  ng-if="!loading">
        <td>{{ item.investTime.split('.')[0]|date:'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ item.borrowTitle }}</td>
        <td><a href="http://{{env}}.duomeidai.com/borrowDetail.action?id={{ item.borrowId }}" target="_blank">{{ item.borrowId }}</a></td>
        <td>{{ item.deadline }}</td>
        <td>{{ item.annualRate }}</td>
        <td>{{ item.brokerName }}</td>
        <td>{{ item.investAmount|moneyfilter }}</td>
      </tr>
    </tbody>
  </table>
 <table class="table table-hover" ng-if="detailType==2">
    <thead>
      <tr>
        <th>操作时间</th>
        <th>经纪人</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="loading">
        <td class="loading-holder" colspan="40">
          <div class="text-center"><span class="loading"></span></div>
        </td>
      </tr>
      <tr ng-if="list.length == 0">
        <td colspan="40">
          <div class="text-center">抱歉，没有相关数据</div>
        </td>
      </tr>
      <tr ng-repeat="item in list"  ng-if="!loading">
        <td>{{ item.createAt|date:'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ item.brokerName }}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-right" ng-show="total">
    <ul class="pagination-sm" pagination ng-model="page" items-per-page="size" total-items="total" ng-change="search(true)"></ul>
  </div>
</div>