<div class="padb8 img-rounded mart3 hb_pic radiu_bgcor">
    <h4 class="tipetex mart2">活动已经结束了！下次早点来吧！</h4>
    <div class="row mart2">
        <div class="col-xs-5 col-sm-6 col-md-6">
            <div class="text-right"><img src="http://dev.static.duomeidai.com/redenvelope/img/bg_9_1.png?version=1" alt="" /></div>
        </div>
    </div>
    <a href="http://www.duomeidai.com/borrowList.action" type="button" class="btn btn-primary btn-lg btn-block share_but">我要投资</a>
    <h3 class="text-center color6">用红包投资，获最高12%年化收益。</h3>
    <a href="http://www.duomeidai.com" type="button" class="btn btn-primary btn-lg btn-block share_but">我的账户</a>
    <h3 class="text-center color6">查看个人信息、红包、投资收益。</h3>
    <div class="mart2"><img ng-src="http://dev.static.duomeidai.com/redenvelope/img/{{Qr_code}}.jpg?version=1" alt="" class="widimg" /></div>
    <h3 class="text-center color6">关注多美贷，第一时间获取最新活动信息</h3>
   	<div class="padt2"></div>
</div>
