<div id="myinfo"> 
	<div class="padb8 img-rounded mart3 hb_pic radiu_bgcor" ng-if="status==0">
        <ul class="nav nav-justified hb_tab"  ng-if="fromFriend">
            <li>
                <a ui-sref="redenvelope.friend({friendId:friendOpenId})">【{{friendNick}}】的红包</a>
            </li>
            <li class="active_2"><a href="javascript:">我的红包</a></li>
        </ul>

        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-6 padrnone">
                <h3 class="text-left padl8 fon13"><b class="corred">{{fks}}</b>位戳友</h3>
            </div>
            <div class="col-xs-7 col-sm-7 col-md-6 padlnone">
                <h3 class="text-right padr8 fon13"><span>{{day|timefilter}}</span>天<span>{{hour|timefilter}}</span>小时<span>{{min|timefilter}}</span>分<span>{{sec|timefilter}}</span>秒截止</h3>
            </div>
        </div>

    	<div class="posit mart1 zhz_bg">
            <p class="lead"><i>{{money|moneyfilter}}</i>元</p>
        </div>

        <h3 class="color6">还差{{need|moneyfilter}}元可达到关卡({{nextlevel}}/15) 可领取{{next|moneyfilter}}元红包</h3>
        <!-- <div ng-click="partShow()" class="partners" ng-if="partner.busName!=''">多美贷合作伙伴<a>【{{partner.busName}}】</a></div> 
        <div class="partners" ng-if="partner.busName==''">
            <p>{{tips}}</p>
        </div> -->

        <div class="partners" ng-if="partner.busName!=''">
            <p ng-if="partner.content!=''&&banner_flag==0" class="FadeInR">【{{partner.busName}}】说：{{partner.content}}</p>
            <p ng-if="banner_flag==1" class="FadeInR" ng-click="partShow()">红包由【{{partner.busName}}】和【多美贷】共同发放</p>
        </div>
        <div class="partners" ng-if="partner.busName==''">
            <p ng-if="banner_flag==0" class="FadeInR">【多美贷】说：开开心心，不急不燥，做好自己</p>
            <p ng-if="banner_flag==1" class="FadeInR">【多美贷】说：加戳群，找戳友</p>
            <p ng-if="banner_flag==2" class="FadeInR">【多美贷】说：多找小鲜肉，多戳好基友</p>
            <p ng-if="banner_flag==3" class="FadeInR">红包由【多美贷】发放</p>
        </div>

        <h2 class="text-center color6">红包长大方法</h2>
        <div class="row head_sm">
            <div class="posita">
                <img src="http://dev.static.duomeidai.com/redenvelope/img/head_n.png?version=1" alt="" />
            </div>
        	<div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="nav nav-justified">
                  <li class="backred"><a ng-click="jabMe()">让好友来戳我</a></li>
                  <li class="backyellow"><a ng-click="jabFriend()">戳好友的红包</a></li>
                </ul>
            </div>
        </div>
        <h3 class="color6" ng-if="level==1"><a ui-sref="redenvelope.regist">绑定账号</a>再戳红包，获得2倍收益！</h3>
        <h3 class="color6" ng-if="level==2&&is_auth=='false'"><a ui-sref="redenvelope.realname">实名认证</a>再戳红包，获得3倍收益！</h3>
        <div class="row marb1">
            <div class="col-xs-6 col-sm-6 col-md-6 ">
            	<h3 class="text-left my-achievement"><img src="http://dev.static.duomeidai.com/redenvelope/img/bg_7.png?version=1" alt="" /><a ng-click="myAchieve()">我的成就</a></h3>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
            	<h3 class="text-right rules-sm"><img src="http://dev.static.duomeidai.com/redenvelope/img/bg_4.png?version=1" alt="" /><a ng-click="rule()">规则说明</a></h3>
            </div>
        </div>
    </div>

	<div class="padb8 img-rounded mart3 hb_pic radiu_bgcor" ng-if="status==1">
        <ul class="nav nav-justified hb_tab"  ng-if="fromFriend">
            <li>
                <a ui-sref="redenvelope.friend({friendId:friendOpenId})">【{{friendNick}}】的红包</a>
            </li>
            <li class="active_2"><a href="javascript:">我的红包</a></li>
        </ul>
        <h4 class="tipetex mart1">红包已经停止长大了<a ng-click="redStop()">?</a></h4>
        <h1 class="countdown font16 color6">离红包消失还有：<span>{{day|timefilter}}</span>天<span>{{hour|timefilter}}</span>小时<span>{{min|timefilter}}</span>分钟{{sec|timefilter}}</span>秒</h1>
        <button type="button" class="btn btn-primary btn-lg btn-block share_but" ng-click="getAchieve()">我的关卡红包</button>
        <h3 class="text-center color6 marb3" ng-if="ach_amount>0">您还有{{ach_amount}}元关卡红包未领取</h3>
        <div class="row head_sm">
            <div class="posita">
                <img src="http://dev.static.duomeidai.com/redenvelope/img/head_n.png?version=1" alt="" />
            </div>
        	<div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="nav nav-justified">
                  <li class="backred"><a ng-click="jabMe()">戳过我的好友</a></li>
                  <li class="backyellow"><a ng-click="jabFriend()">我戳过的好友</a></li>
                </ul>
            </div>
        </div>
        <div class="mart4"><img ng-src="http://dev.static.duomeidai.com/redenvelope/img/{{Qr_code}}.jpg?version=1" alt="" class="widimg" /></div>
        <h3 class="text-center color6">如果没戳过瘾，关注"多美惠通多美贷"<br/><br/>好玩的东东并没有结束，这才是刚刚开始</h3>
       	<div class="padt2"></div>
    </div>

  	<div  class="padb8 img-rounded mart3 hb_pic radiu_bgcor" ng-if="status==2">
        <h4 class="tipetex mart2">活动已经结束了！下次早点来吧！</h4>
        <div class="row mart2">
            <div class="col-xs-5 col-sm-6 col-md-6">
                <div class="text-right mart1"><img src="http://dev.static.duomeidai.com/redenvelope/img/bg_9_1.png" alt="" width="65" /></div>
            </div>
            <div class="col-xs-7 col-sm-6 col-md-6">
                <h4 class="text-left color6 mart2">共获得：<span class="corred">{{hasReceiveAmount}}</span>元！</h4>
            </div>
        </div>
        <a href="http://www.duomeidai.com/borrowList.action" type="button" class="btn btn-primary btn-lg btn-block share_but">我要投资</a>
        <h3 class="text-center color6">用红包投资，获最高12%年化收益。</h3>
        <a href="http://www.duomeidai.com" type="button" class="btn btn-primary btn-lg btn-block share_but">我的账户</a>
        <h3 class="text-center color6">查看个人信息、红包、投资收益。</h3>
        <div class="mart2"><img ng-src="http://dev.static.duomeidai.com/redenvelope/img/{{Qr_code}}.jpg?version=1" alt="" class="widimg" /></div>
        <h3 class="text-center color6">如果没戳过瘾，关注"多美惠通多美贷"<br/><br/>好玩的东东并没有结束，这才是刚刚开始</h3>
       	<div class="padt2"></div>
    </div>

    <div class="padb8 img-rounded mart3 hb_pic radiu_bgcor" ng-if="status==9">
    	<img src="http://dev.static.duomeidai.com/redenvelope/img/bg_6_2.png?version=1" alt="" class="padt2 widimg" />
        <h3 class="text-center color6">对不起，您已被限制参与</h3>
        <h3 class="text-center color6">请联系客服电话：400-885-7027 处理</h3>
       	<div class="padt2"></div>
    </div>
</div>


<!--合作伙伴-->
<div class="pub_window hzhb_wind" id="partnerWindow" style="position:fixed;display:none;top:5%;left:6%;">
    <div class="closepic" ng-click="partClose()"><a>关闭</a></div>
    <div class="hb_hd">
        <a href="{{partner.busHref}}" ng-if="partner.busHref!=''">
            <img ng-src="{{partner.busLogo}}" alt="{{partner.busName}}"  height="60" />
            <h1>{{partner.busName}}</h1>
        </a>
        <a ng-if="partner.busHref==''">
            <img ng-src="{{partner.busLogo}}" alt="{{partner.busName}}"  height="60" />
            <h1>{{partner.busName}}</h1>
        </a>
        <div class="clearB"></div>
        <div class="hb_detail">
            <div class="hb_p" data-ng-bind-html="partner.busDesc"></div>
            <img ng-if="partner.busImage!=''" ng-src="{{partner.busImage}}" width="250" />
        </div>
    </div>
    <div class="ad_gz">
        <p style="text-align: center;">我想加入</p>
        <h6 class="color6">关注公众账号<a>"多美惠通多美贷"</a>，点击菜单<a>"我要红包"－"合作推广"</a></h6>
    </div>
</div>