<div id="myjab">
<!--   <div class="padb8 img-rounded mart3 hb_pic radiu_bgcor" ng-if="myjab.length==0">
    <img src="http://dev.static.duomeidai.com/redenvelope/img/bg_6_1.png?version=1" alt="" class="padt2 widimg" />
      <h2 class="text-center color6">你还没有戳过任何一个人</h2>
      <button type="button" class="btn btn-primary btn-lg btn-block share_but" ng-click="shareShow()">分享给更多的好友</button>
  </div> -->
<div class="padb8 img-rounded mart3 hb_pic radiu_bgcor">
  <div class="row marginC">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default bornone mart2">
        <ul class="nav nav-justified">
            <li ng-class="{active:topflag==0}" style="width:33%"><a ng-click="topChange(0)">我邀请的</a></li>
            <li ng-class="{active:topflag==2}" style="width:34%"><a ng-click="topChange(2)">戳友同志</a></li>
            <li ng-class="{active:topflag==1}" style="width:33%"><a ng-click="topChange(1)">排行榜</a></li>
        </ul>
        <div class="panel-body" ng-if="topflag==0">
          <div class="row" ng-if="invitelist.length!=0">
            <div class="col-xs-4 col-sm-4 col-md-4" style="text-align: left;">
              <span>昵称</span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <span>奖励(元)</span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
              <span>戳</span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <span>被戳</span>
            </div>
          </div>
          <ul class="list-group marginC">
              <li class="list-group-item lihg" ng-class="{disabled:item.i_has_clicked=='true'||item.is_end=='true'}" ng-repeat="item in invitelist" ui-sref="redenvelope.friend({friendId: item.openId})">
                  <div class="row">
                      <div class="col-xs-4 col-sm-4 col-md-4 posit_bor">
                        <!-- <div ng-if="item.is_end!='true'" style="width:24px;height:20px;float: left;"></div> -->
        
                        <img ng-if="item.is_auth=='true'" src="http://dev.static.duomeidai.com/redenvelope/img/smrz.png" width="15" height="15" style="margin-left:5px;"/>
                        <img ng-if="item.is_reg=='true'&&item.is_auth!='true'" src="http://dev.static.duomeidai.com/redenvelope/img/smzc.png" width="15" height="15" style="margin-left:5px;"/>
                        <img ng-if="item.is_receive=='true'&&item.is_reg!='true'&&item.is_auth!='true'" src="http://dev.static.duomeidai.com/redenvelope/img/smlq.png" width="15" height="15" style="margin-left:5px;"/>
                        <span>{{item.nick|namefilter:3}}</span>
                      </div>
            <div class="col-xs-3 col-sm-3 col-md-3">

                        <span>+{{item.add_amount|moneyfilter}}</span>
                      </div>
                      <div class="col-xs-2 col-sm-2 col-md-2">
                        <span>+{{item.is_auth|times:1:timesBase}}</span>
                      </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                        <span>+{{item.is_auth|times:2:timesBase}}</span>
                      </div>
                  </div>
              </li>
              <li ng-if="invitelist.length==0" style="text-align:center;">
                你还没有邀请好友注册，邀请好友成功注册互戳红包有10倍奖励哦！
              </li>
              <li style="text-align:center;">
                每邀请一位好友注册以及绑定身份，每日戳红包次数和被戳红包次数都会永久增加。
              </li>
          </ul>
          <p ng-if="page_3<total_3" ng-click="getMoreInvite()" class="morelist"><a>显示更多</a></p>
        </div>
        <ul class="list-group marginC" ng-if="topflag==1">
          <li class="list-group-item lihg disabled" ng-repeat="item in toplist">
              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 posit_bor">
                    <span>【{{item.nick|namefilter:8}}】</span>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <span>获得{{item.amount}}元红包</span>
                  </div>
              </div>
          </li>
        </ul>
        <ul class="list-group marginC" ng-if="topflag==2">
          <li class="list-group-item lihg" ng-repeat="item in chuolist" ng-class="{disabled:item.i_has_clicked=='true'}"  ui-sref="redenvelope.friend({friendId: item.openId})">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 posit_bor">
                    <span>【{{item.nick|namefilter:8}}】</span>
                  </div>
              </div>
          </li>
          <li style="text-align:center;">
            邀请好友玩红包，可获取更多奖励
          </li>
        </ul>
      </div>
    </div> 
  </div>
  <div class="row marginC">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default bornone mart2">
          <ul class="nav nav-justified">
            <li class="{{tabClass}}"><a ng-click="tabChange(0)">你戳了他们</a></li>
            <li class="{{tabClass2}}"><a ng-click="tabChange(1)">今天还可以戳</a></li>
          </ul>
          <div class="panel-body">
            <ul class="list-group marginC" ng-if="tabflag==0">
              <li class="list-group-item lihg" ng-class="{disabled:item.owner_i_has_clicked=='true'}" ng-repeat="item in myjab">
                <div class="row" ui-sref="redenvelope.friend({friendId: item.ownerOpenid})">
                  <div class="col-xs-5 col-sm-6 col-md-6 pad0"><span>{{item.updateAt|timeLine}}</span></div>
                  <div class="col-xs-7 col-sm-6 col-md-6 posit_bor"><i class="pull-left titbg"></i><span>【{{item.ownerNick|namefilter:8}}】    +{{item.clickerGetAmount}}元</span></div>
                </div>
              </li>
            </ul>
            <ul class="list-group marginC" ng-if="tabflag==1">
              <li class="list-group-item lihg" ng-repeat="item in canjab" ui-sref="redenvelope.friend({friendId: item.openId})">
                  <div class="row">   
                    <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: left;">>
                      <img ng-if="item.is_end=='true'" src="http://dev.static.duomeidai.com/redenvelope/img/smsx.png" width="15" height="15" style="margin-left:5px;"/>
                      <div ng-if="!item.is_end" style="width:24px;height:20px;float: left;"></div>
                      <span>【{{item.nick|namefilter:8}}】</span>
                    </div>
                  </div>
              </li>
              <li ng-if="canjab.length==0" style="text-align:center;">
                今天没有好友可以戳了
              </li>
            </ul> 
            <p ng-if="page<total&&tabflag==0" ng-click="getMore()" class="morelist"><a>显示更多</a></p>
            <p ng-if="page_2<total_2&&tabflag==1" ng-click="getMore()" class="morelist"><a>显示更多</a></p>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block share_but" ng-click="shareShow()">分享给更多的好友</button>
  </div>
</div>
<div id="fullbg" class="share_tips" style="display:none;" ng-click="shareHide()">弹窗遮罩层</div>
<div class="pub_window share_bg share_tips" style="display:none;top:0%;right:0;"></div>
<div class="pub_window qr_wind share_tips" id="qrcode" style="display:none;top:150px;right:0;"></div>