<div  class="padb8 img-rounded mart3 hb_pic radiu_bgcor">
    <h2 class="text-center">验明正身</h2>
    
    <h3 class="font16 color6">验明正身后才可以投资，</h3>
    <h3 class="font16 color6">还有3倍红包收益</h3>
    
    <div class="mart2">
        <div class="form-group">
            <input type="text" class="form-control" name="realname" ng-model="real.realname" placeholder="真实姓名" cs-focus autofocus required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="idcard" ng-model="real.idcard" placeholder="身份证号码" cs-focus autofocus required>
        </div>                    
    </div>
    
    <button type="submit" class="btn btn-primary btn-lg btn-block but_zdy" ng-click="checkRealName()">验名正身</button>
    <h3 class="color6">您可以免费进行2次验明正身操作，</h3>
    <h3 class="color6 marb3">第3次起需收取5元手续费，请慎重填写！</h3>
</div>