<div id="regist" class="padb8 img-rounded mart3 hb_pic radiu_bgcor_2">
	<div class="img-circle">
        <h2 class="text-center">绑定您的多美贷账号</h2>
    </div>
    <div class="pub_window" style="display:none;top:20%;">
        <h2>找到组织</h2>
        <h4 class="color6 padt1">获得<span class="corred">2</span>倍红包收益</h4>
    </div>
    <div class="register_tab">
        <div class="row head_sm register_nav">
            <div class="posita">
                <img src="http://dev.static.duomeidai.com/redenvelope/img/head_2.png?version=1" alt="">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="nav nav-justified">
                  <li class="{{tabClass}}" ng-click="tabChange(0)"><a>新用户注册</a></li>
                  <li class="{{tabClass2}}" ng-click="tabChange(1)"><a>已有账户</a></li>
                </ul>
            </div>
        </div>
        <!--新用户注册-->
        <form class="form-horizontal" role="form" ng-if="regtype==0">
            <div class="form-group">
                <input type="text" class="form-control" name="mobile" ng-model="reg.mobile" placeholder="手机号">{{mobile}}
            </div>
            <div class="form-group" ng-if="msgCount>2">
                <input type="text" class="form-control wid_2" name="reg.imgcode" ng-model="reg.imgcode" placeholder="图形验证码">
                <div class="btn btn-default img_code" ng-click="imgCodeRefresh()">
                    <img ng-src="{{imgUrl}}" >
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control wid_3" ng-model="reg.msgcode" placeholder="验证码">
                <button type="submit" ng-disabled="codeDisabled" class="btn btn-default but_voice" ng-click="voiceCode(1)">
                    <span ng-if="desableTime==0||clickType!=2">语音</span>
                    <span ng-if="desableTime>0&&clickType==2">{{desableTime}}</span>
                </button>
                <button type="submit" ng-disabled="codeDisabled" class="btn btn-default but_sms" ng-click="msgCode(1)">
                    <span ng-if="desableTime==0||clickType!=1">短信</span>
                    <span ng-if="desableTime>0&&clickType==1">{{desableTime}}</span>
                </button>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="reg.loginPwd" placeholder="密码，6-14位">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="reg.tradePwd" placeholder="交易密码，6-14位">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="reg.nickName" placeholder="昵称，2-10位，不能下划线开头">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="reg.randkey" placeholder="推荐人手机号／邀请代码，如无可不填">
            </div>
            <div class="regis_tip">
            	<span ng-click="accessRadioClick()" ng-class="{default:recieve}">&radic;</span>
            	<h3 class="corwhite">我已满18岁，已阅读并接受<a ui-sref="redenvelope.agreement">《服务协议》</a></h3>
            </div>
            <button type="submit" ng-click="singIn()" ng-class="{default:!recieve}" ng-disabled="!recieve" class="btn btn-primary btn-lg btn-block but_zdy">注册并绑定</button>
            <h3 class="corwhite marb3">新用户注册成功，还可多获得15~95元返利</h3>
        </form>
        
        <!--已有账户-->
        <form class="form-horizontal" role="form" ng-if="regtype==1">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="bind.mobile" placeholder="手机号">
            </div>
            <div class="form-group" ng-if="msgCount>2">
                <input type="text" class="form-control wid_2" ng-model="bind.imgcode" placeholder="图形验证码">
                <div class="btn btn-default img_code" ng-click="imgCodeRefresh()">
                    <img ng-src="{{imgUrl}}" >
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control wid_3" ng-model="bind.msgcode" placeholder="验证码">
                <button type="submit" ng-disabled="codeDisabled" class="btn btn-default but_voice" ng-click="voiceCode(2)">
                    <span ng-if="desableTime==0||clickType!=2">语音</span>
                    <span ng-if="desableTime>0&&clickType==2">{{desableTime}}</span>
                </button>
                <button type="submit" ng-disabled="codeDisabled" class="btn btn-default but_sms" ng-click="msgCode(2)">
                    <span ng-if="desableTime==0||clickType!=1">短信</span>
                    <span ng-if="desableTime>0&&clickType==1">{{desableTime}}</span>
                </button>
            </div>
            <button type="submit" ng-click="bindUser()" class="btn btn-primary btn-lg btn-block but_zdy">绑定账号</button>
            <h3 class="corwhite marb3">绑定账号，红包收益翻倍！</h3>
        </form>
        
    </div>
</div>