<div class="padb8 img-rounded mart3 hb_pic radiu_bgcor">
	<h2 class="text-center">活动规则</h2>
	<div class="pad0">
	    <p class="text-left font16">1、参与活动的用户都可以获得1个会长大的种子红包。</p>
	    <p class="text-left font16">2、把红包分享给好友，好友每天首次点击都可为红包增加金额，同时好友自己也可获得红包。
		</p>
	    <p class="text-left font16">3、通过微信绑定账号，每次点击增加红包为普通红包的2倍。通过微信注册并完成实名认证，增加红包为普通红包的3倍。如果好友之间存在邀请关系，且有一方是通过微信红包活动新注册的用户，那么增加红包为普通红包的10倍。
		</p>
	    <p class="text-left font16">4、戳新用户奖励更高。</p>
	    <p class="text-left font16">5、红包达到一定金额即可领取，领取的红包可在多美贷账户“返利余额”中查看，最高可达1000元。返利使用规则，请登录官网（http://www.duomeidai.com）查看。</p>
	    <p class="text-left font16">6、红包自用户获得时起1周内有效，超过1周后将无法再增加金额。</p>
	    <p class="text-left font16">7、红包失效1周后会消失，请在1周内领取。</p>
	    <p class="text-left font16">8、本活动解释权归多美贷所有。</p>
	    <p class="text-left font16">9、想了解“多美贷红包攻略”，敬请关注公众号“多美惠通多美贷”，对活动有任何疑问或建议，可随时在公众号上咨询客服。</p>
	</div>
	<div class="mart2"><img ng-src="http://dev.static.duomeidai.com/redenvelope/img/{{Qr_code}}.jpg?version=1" alt="" class="widimg" /></div>
	<div class="padt2"></div>
</div> 