<div ng-if='onload'>
    <div class="list-group">
        <h2 class="text-center padt1">亲爱的<span>【{{usernick}}】</span>，恭喜你！</h2>
        <h2 class="text-center">
          <span ng-if="status==0">{{busName}}送给你</span>
          <span ng-if="status==1">已领取</span>一个神奇的种子红包
        </h2>
    </div>

    <div  class="hb_pic">
        <div class="hb_bg" ng-if="status==0"></div>
        <div class="posit zhz_bg indefut_hb" ng-if="status==1">
            <p class="lead"><i>{{money}}</i>元</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" ng-if="status==0">
            <button ng-click="getSeed()" type="button" class="btn btn-primary btn-lg btn-block mart3 lqbut-cor">领取种子</button>
            <h3 class="text-center">好友戳一下，种子就会长大哦</h3>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12" ng-if="status==1">
            <h3 class="text-center mart2">好友戳一下，种子就会长大哦</h3>
            <button ng-click="viewMyRev()" type="button" class="btn btn-primary btn-lg btn-block mart2 lqbut-cor">让红包长大</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" ui-sref="redenvelope.rule">
            <h3 class="text-right rules-sm"><img src="http://dev.static.duomeidai.com/redenvelope/img/bg_4.png?version=1" alt="" /><a>规则说明</a></h3>
        </div>
    </div>
</div>
<div class="padb8"></div>



<div class="pub_window" style="display:none;top:20%;">
    <h2>开门见喜</h2>
    <h4 class="color6 padt1">获得<span class="corred">1</span>倍红包收益</h4>
</div>