<div  class="padb8 img-rounded mart3 hb_pic radiu_bgcor">
    <h2 class="text-center" ng-if="regtype!=3">恭喜，成功绑定账户！</h2>
    <h2 class="text-center" ng-if="regtype==3">恭喜，实名认证成功！</h2>
    <h3 class="font16 color6" ng-if="regtype==3">可获得3倍红包收益</h3>
    
    <h3 class="font16 color6" ng-if="regtype==1"><span class="corred">{{extra|moneyfilter}}</span>元注册返利</h3>
    
    <h3 class="font16 color6" ng-if="regtype==1">已进入你的返利余额账户</h3>
    
    <div class="mart2">
      	<div class="marginC biaoq_1"></div>
    </div>
    
    <h3 class="color6" ng-if="ach_amount>0">您当前还有【{{ach_amount|moneyfilter}}】元的关卡红包未领取</h3>
    
    <button type="button" class="btn btn-primary btn-lg btn-block but_zdy" ui-sref="redenvelope.myachivement({tab:1})" ng-if="ach_amount>0">点击领取</button>
    
    <h3 class="color6" ng-if="regtype==1||(regtype==2&&isauth=='false')">尚未实名认证，完成实名认证可得3倍红包收益</h3>
    
    <button ui-sref="redenvelope.realname" type="button" class="btn btn-primary btn-lg btn-block but_zdy" ng-if="regtype==1||(regtype==2&&isauth=='false')">实名认证</button>

    <h3 class="color6" ng-if="regtype==3">已经获得了【{{money|moneyfilter}}】元收益，</h3>
    <h3 class="color6" ng-if="regtype==3">下次戳红包会获得3倍收益</h3>
    <button type="button" class="btn btn-primary btn-lg btn-block but_zdy" ui-sref="redenvelope.myinfo" ng-if="regtype==3">我的红包</button>
</div>


<div id="zdzz" class="pub_window" style="display:none;top:20%;">
    <h2>找到组织</h2>
    <h4 class="color6 padt1">获得<span class="corred">2</span>倍红包收益</h4>
</div>
<div id="ymzs" class="pub_window" style="display:none;top:20%;">
    <h2>验明正身</h2>
    <h4 class="color6 padt1">获得<span class="corred">3</span>倍红包收益</h4>
</div>