<div class="modal-header ng-scope wind_t_pub add_jp"><a class="close" ng-click="$dismiss()">×</a><h4 class="modal-title ng-binding">新增道具</h4></div>
<div class="modal-body ng-scope wind_t_pub add_jp">
    <ul class="se-list">
        <li>
            <label class="text-normal text-nowrap"><i class="corred">*</i>道具名称：</label>
            <input type="text" ng-model="id" class="form-control mc-auto-width" value="请输入道具名称">
        </li>
        <li>
            <label class="text-normal text-nowrap">金额：</label>
            <input type="text" ng-model="id" class="form-control mc-auto-width" value="请输入道具金额">
        </li>
        <li>
            <label class="text-normal text-nowrap"><i class="corred">*</i>选择商家：</label>
            <select class="form-control mc-auto-width">
              <option>请选商家名称</option>
              <option>商家A</option>
              <option>商家B</option>
              <option>商家C</option>
              <option>商家D</option>
              <option>商家E</option>
            </select>
        </li>
        <li>
            <label class="text-normal text-nowrap"><i class="corred">*</i>道具图片：</label>
        </li>
                               
    </ul>
</div>
<div class="modal-footer ng-scope">
  <button class="btn btn-primary" ng-click="confirm()" ng-disabled="processing">确定</button>
  <button class="btn btn-default" ng-click="$dismiss()">取消</button>
</div>