
<div class="modal-header ng-scope wind_t_pub add_jp"><a class="close" ng-click="$dismiss()">×</a><h4 class="modal-title ng-binding">新增商家</h4></div>
<div class="modal-body ng-scope wind_t_pub add_jp">
    <ul class="se-list">
        <li>
            <label class="text-normal text-nowrap"><i class="corred">*</i>商家名称：</label>
            <input type="text" ng-model="entity.name" class="form-control mc-name-width" value="请输入商家名称">
        </li>
        <li>
            <label class="text-normal text-nowrap">商家网址：</label>
            <input type="text" ng-model="entity.url" class="form-control mc-name-width" value="请输入商家网址">
        </li>
        <li>
            <label class="text-normal text-nowrap"><i class="corred">*</i>商家地址：</label>
            <input type="text" ng-model="entity.address" class="form-control mc-name-width" value="请输入商家地址">
        </li>
        <li>
            <label class="text-normal text-nowrap">商家电话：</label>
            <input type="text" ng-model="entity.mobile" class="form-control mc-name-width" value="请输入商家电话">
        </li>
        <li>
            <label class="text-normal text-nowrap">商家传真：</label>
            <input type="text" ng-model="entity.fax" class="form-control mc-name-width" value="请输入商家传真">
        </li>
        <li>
            <label class="text-normal text-nowrap">商家微博：</label>
            <input type="text" ng-model="entity.weibo" class="form-control mc-name-width" value="请输入商家官方微博地址">
        </li>
        <li>
            <label class="text-normal text-nowrap">公众号：</label>
            <input type="text" ng-model="entity.weixin" class="form-control mc-name-width" value="请输入商家微信公众号">
        </li>
        <li>
            <label class="text-normal text-nowrap">邮箱：</label>
            <input type="text" ng-model="entity.email" class="form-control mc-name-width" value="请输入商家邮箱">
        </li>
        <li>
            <label class="text-normal text-nowrap"><i class="corred">*</i>商家介绍：</label>
            <textarea cols="80" ng-model="entity.desc" rows="5" class="form-control mc-name-width">请输入商家介绍</textarea>
        </li>
        
        <li>
            <label class="text-normal text-nowrap"><i class="corred">*</i>商家logo：</label>
            <img ng-if="entity.logo" ng-src="entity.logo">
        </li>
                               
    </ul>
</div>
<div class="modal-footer ng-scope">
  <button class="btn btn-primary" ng-click="confirm()" ng-disabled="processing">确定</button>
  <button class="btn btn-default" ng-click="$dismiss()">取消</button>
</div>
            