<div class="webName autoSize textCenter grayButton">
	<div class="fanhui"  ui-sref="brokerfront.login"><span></span></div>
	<h5>首页</h5>
    <div class="set" ui-sref="brokerfront.user">
    	<span></span>
    </div>
</div>
<div class="textCenter yq_nub">
	<p>
		<b>{{count}}</b>人
	</p>
	<div>累计邀请人数</div>
</div>

<div class="textCenter">
	<button class="redButton autoSize editBt" ui-sref="brokerfront.invite">邀请客户</button>
	<button class="redButton autoSize editBt" ui-sref="brokerfront.invitelist">查看邀请列表</button>
	<button class="redButton autoSize editBt" ui-sref="brokerfront.investlist">查看投资列表</button>
</div>