<div class="account-module">
  <div class="page-header">
    <h1>第三方网站</h1>
  </div>
  <div class="filter clearfix">
    <div class="row">
      <div class="col-sm-11">
        <div class="form-inline">
          <ul class="se-list">
            <li>
              <label class="control-label text-normal text-nowrap">ID：</label>
              <input type="text" class="form-control" ng-model="userId" />
            </li>
            <li>
              <label class="control-label text-normal text-nowrap">姓名：</label>
              <input type="text" class="form-control" ng-model="realName" />
            </li>
            <li>
              <label class="control-label text-normal text-nowrap">手机号：</label>
              <input type="text" class="form-control" ng-model="mobilePhone" />
            </li>
            <li>
              <label class="control-label text-normal text-nowrap">时间：</label>
              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dts" is-open="opened" max-date='{{maxDate}}' close-text="Close" ng-click="dateOpen($event,1)" />
              <label class="control-label text-normal text-nowrap" style="width:8px;">-</label>
              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dte" is-open="opened2" max-date='{{maxDate}}' close-text="Close" ng-click="dateOpen($event,2)" />
            </li>
            <li>
              <label class="control-label text-normal text-nowrap">商户名称：</label>
              <input type="text" class="form-control" ng-model="businessName" />
            </li>
            <li>
              <button type="submit" class="btn btn-primary ml10" ng-disabled="form.$invalid || processing" ng-click="search()">
              <i class="fa fa-search"></i> 搜索
              </button>
              <button class="btn btn-primary ml10" ng-click="clear()">
              <i class="fa fa-search"></i> 清空
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-1 text-right">
        <a class="btn btn-success" ng-click="addthird()"><i class="fa fa-plus"></i> 添加</a>
      </div>
    </div>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>序号</th>
        <th>ID</th>
        <th>姓名</th>
        <th>昵称</th>
        <th>手机号</th>
        <th>时间</th>
        <th>商户名称</th>
        <th class="text-right">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="loading">
        <td class="loading-holder" colspan="40">
          <div class="text-center"><span class="loading"></span></div>
        </td>
      </tr>
      <tr ng-if="total === 0">
        <td colspan="40">
          <div class="text-center">抱歉，没有相关数据</div>
        </td>
      </tr>
      <tr ng-repeat="item in list" ng-if="!loading">
        <td>{{ $index+1 }}</td>
        <td>{{ item.tuserId }}</td>
        <td>{{ item.realName }}</td>
        <td>{{ item.userName }}</td>
        <td>{{ item.mobilePhone }}</td>
        <td>{{ item.createTime|date:'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ item.businessName }}</td>
        <td class="text-right">
          <a href="" ng-click="goDetail(item.id)">查看</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-right" ng-show="total">
    <ul class="pagination-sm" pagination ng-model="page" items-per-page="size" total-items="total" ng-change="search()"></ul>
  </div>
</div>