<div class="account-module">
  <div class="page-header">
    <h1>第三方网站</h1>
  </div>
  <div class="filter clearfix">
    <div class="row">
      <div class="col-sm-12">
        <div class="userInfo">
          <p>
              <label class="control-label text-normal text-nowrap txtleft">商户名称：</label>
              {{businessName}}
          </p>
          <ul class="se-list">
            <li>
              <label class="control-label text-normal text-nowrap txtleft">姓名：</label>
              {{realName}}
            </li>
            <li>
              <label class="control-label text-normal text-nowrap txtleft">昵称：</label>
              {{userName}}
            </li>
            <li>
              <label class="control-label text-normal text-nowrap txtleft">ID：</label>
              {{userId}}
            </li>
            <li>
              <label class="control-label text-normal text-nowrap txtleft">手机号：</label>
              {{mobilePhone}}
            </li>
          </ul>
          
          <button type="submit" class="btn btn-primary ml10" ng-disabled="form.$invalid || processing" ng-click="editThird()">
            <i class="fa fa-search"></i> 修改
          </button>
        </div>
        <div class="form-inline">
          <ul class="se-list">
            <li>
              <label class="control-label text-normal text-nowrap wid80 txtleft">投资时间：</label>
              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dts" is-open="opened" max-date='{{maxDate}}' close-text="Close" ng-click="dateOpen($event,1)" />
              <label class="control-label text-normal text-nowrap" style="width:8px;">-</label>
              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dte" is-open="opened2" max-date='{{maxDate}}' close-text="Close" ng-click="dateOpen($event,2)" />
            </li>
            <li>
              <label class="control-label text-normal text-nowrap wid80 txtleft">投资金额：</label>
              <input type="text" class="form-control" ng-model="tzmin"/>
              <label class="control-label text-normal text-nowrap" style="width:8px;">-</label>
              <input type="text" class="form-control" ng-model="tzmax"/>
            </li>
            <li>
              <button type="submit" class="btn btn-primary ml10" ng-disabled="form.$invalid || processing" ng-click="search()">
              <i class="fa fa-search"></i> 搜索
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>客户姓名</th>
        <th>客户昵称</th>
        <th>客户ID</th>
        <th>第三方ID</th>
        <th>客户手机号</th>
        <th>投资时间</th>
        <th>投资项目</th>
        <th>项目ID</th>
        <th>投资期限(月)</th>
        <th>年化利率</th>
        <th>首次投资</th>
        <th class="text-right">投资金额</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="loading">
        <td class="loading-holder" colspan="40">
          <div class="text-center"><span class="loading"></span></div>
        </td>
      </tr>
      <tr ng-if="total === 0">
        <td colspan="40">
          <div class="text-center">抱歉，没有相关数据</div>
        </td>
      </tr>
      <tr ng-repeat="item in list"  ng-if="!loading">
        <td>{{ item.realName }}</td>
        <td>{{ item.userName }}</td>
        <td>{{ item.tuserId }}</td>
        <td>{{ item.thirdId }}</td>
        <td>{{ item.mobilePhone }}</td>
        <td>{{ item.time|date:'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ item.projectName }}</td>
        <td>{{ item.projectId }}</td>
        <td>{{ item.projectTime }}</td>
        <td>{{ item.rate }}</td>
        <td>{{ item.isFirst }}</td>
        <td>{{ item.amount }}</td>
    </tbody>
  </table>
  <div class="text-right" ng-show="total">
    <ul class="pagination-sm" pagination ng-model="page" items-per-page="size" total-items="total" ng-change="query()"></ul>
  </div>
</div>