<div id="home">
  <header id="header">
    <a href="" class="comunity clearfix">
      <span class="pull-left title">
        <i class="fa fa-map-marker"></i> 北京 龙湖社区        
      </span>
      <span class="pull-right indicate">
        <i class="fa fa-angle-right"></i>  
      </span>
    </a>
  </header>
  <div id="content">
    <div class="container-fluid">
      <div class="row" ng-repeat="items in catagory|group:3">
        <div class="col-xs-4 col-sm-4" ng-repeat="item in items">
          <a class="cell metro_{{ (($parent.$index + 1) * 3 + $index) % 10 }}" ui-sref="{{ item.sref }}" ng-class="{plus:item.name === 'plus'}" cs-square>
            <i class="badge" ng-if="item.notify">{{ item.notify }}</i>
            <i class="fa fa-plus" ng-if="item.name === 'plus'"></i>
            <i class="fa fa-pied-piper-alt" ng-if="item.name !== 'plus'"></i>
            <span class="category" ng-if="item.name !== 'plus'">{{ item.name }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>