<div class="webName autoSize textCenter grayButton">
	<div class="fanhui" ui-sref="brokerfront.index"><span></span></div>
	<h5>个人中心</h5>
    <div class="set" style="display:none;"><span></span></div>
</div>

<div class="textCenter user_hd">
    <div class="head_bg"><img src="http://dev.static.duomeidai.com/brokerfront/img/user_head_mid.jpg" /></div>
</div>

<ul class="nav autoSize">
    <li><span class="user_infor">用户名：</span><p class="input8 left" ng-click="user()">{{user.nick}}</p></li>
	<li><span class="user_infor">姓名：</span><p class="input8 left" ng-click="name()">{{user.name}}</p></li>
    <li><span class="user_infor">手机号：</span><p class="input8 left" ng-click="mobile()">{{user.mobile}}</p></li>
</ul>