<div class="webName autoSize textCenter grayButton">
	<div class="fanhui"><span></span></div>
	<h5>个人中心</h5>
    <div class="set" style="display:none;"><span></span></div>
</div>

<div class="textCenter user_hd">
    <div class="head_bg"><img src="images/user_head_mid.jpg" /></div>
</div>

<ul class="nav autoSize">
    <li><span class="user_infor">用户名：</span><p class="input8 left" ng-click="user()">XXXX</p></li>
	<li><span class="user_infor">姓名：</span><p class="input8 left" ng-click="name()">李**</p></li>
    <li><span class="user_infor">手机号：</span><p class="input8 left" ng-click="mobile()">13234567890</p></li>
    <li><span class="paswd_xgbut" ng-click="password()">修改密码</span></li>
</ul>