<div class="webName autoSize textCenter grayButton">
    <div class="fanhui" ui-sref="brokerfront.investlist"><span></span></div>
    <h5>客户投资详细</h5>
</div>
<div class="textCenter user_list">
    <table width="90%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr style="padding-right: 5%; padding-left: 5%;">
                <th align="center" scope="col" width="15%" style="background-color: white;border-width: 0px;">
                    <label>日期</label>
                </th>
                <th align="left" scope="col" style="background-color: white;border-width: 0px;">
                    <input style="width:80%" type="date" ng-model="InvestTimeBegin" class="ng-pristine ng-valid">
                </th>
               <th align="center" scope="col" width="10%" style="background-color: white;border-width: 0px;">
                    <label>--</label>
                </th>
                <th align="left" scope="col" style="background-color: white;border-width: 0px;">
                    <input style="width:80%" type="date" ng-model="InvestTimeEnd" class="ng-pristine ng-valid">
                </th>
            </tr>
            <tr style="padding-right: 5%; padding-left: 5%;">
                <th align="center" scope="col" width="15%" style="background-color: white;border-width: 0px;">
                    {{name}}
                </th>
                <th align="left" scope="col" style="background-color: white;border-width: 0px;">
                    {{mobile}}
                </th>
               <th align="center" scope="col" width="10%" style="background-color: white;border-width: 0px;">
                </th>
                <th align="left" scope="col" style="background-color: white;border-width: 0px;">
                    <button class="redButton  " style="width:80%;height: 20px;line-height: 20px;" ng-click="detailList()">筛选</button>
                </th>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <th align="center" scope="col" width="20%"><a ng-click="predicate = 'name'; reverse=!reverse">ID</a>

                </th>
                <th align="center" scope="col" width="26%"><a href="" ng-click="predicate = 'mobile'; reverse=!reverse">期限</a>

                </th>
                <th align="center" scope="col" width="24%"><a href="" ng-click="predicate = 'invest_at'; reverse=!reverse">投资时间</a>

                </th>
                <th align="center" scope="col" width="14%"><a href="" ng-click="predicate = 'status'; reverse=!reverse">投资金额</a>

                </th>
            </tr>
            <tr ng-repeat="userInvest in list" class="ng-scope">
                <td><a href="http://www.duomeidai.com/borrowDetail.action?id={{userInvest.borrowId}}" target="blank"><span ng-bind="userInvest.borrowId" class="ng-binding"></span></a>
                </td>
                <td class="ng-binding">{{userInvest.deadline}}个月</td>
                <td class="ng-binding">{{userInvest.investTime}}</td>
                <td class="ng-binding">{{userInvest.investAmount}}</td>
            </tr>
        </tbody>
    </table>
    <a ng-if="total<=page" style="padding-bottom: 35px;" href="javascript:" class="more ng-binding" >木有更多投资啦</a>
    <a ng-if="total>page" href="javascript:" style="padding-bottom: 35px;" class="more ng-binding" ng-click="displayMore()">点击加载更多</a>
	<div style="float: right; width: 100%; height: auto">
		<div class="textCenter" style="float: right; border-top: 3px; width: 100%; position: fixed; left: auto; right: auto; bottom: 10px; _position: absolute; _top: expression(document.documentElement.clientHeight +   document.documentElement.scrollTop -   this.offsetHeight);">
			<span style="float: right; margin-right: 20px; display: block; font-weight: bold;" class="ng-binding">{{baseInfo.investCountS}}笔/{{baseInfo.investSumS}}元</span>
		</div>
	</div>
</div>
