body.brokers-login { background: rgb(22, 62, 76) url(/img/account/login.jpg) center bottom no-repeat; background-attachment: fixed; background-size: cover; overflow: hidden; }
.bounceInDown { -webkit-animation-duration: .65s; animation-duration: .65s; }
#login { position: absolute; top: 0; left: 0; right: 0; bottom: 0; font-size: 14px; }
#login .alert { padding: 8px 15px; }
#login .form { font-size: 14px; }
#login .form-title { margin-bottom: 15px; line-height: 40px; }
#login .form-title img { width: 40px; margin-right: 10px; float: left; }
#login .form-group p.text-danger { margin-top: 8px; }
#login .form-control { height: 36px; }
#login .form-control label { margin-bottom: 0; }
#login .btn { font-size: 16px; }
#login .input-group-addon .fa { width: 14px; }
#login .input-group-addon .fa-lock { font-size: 18px; }
#login .content { box-shadow: 0 0 10px rgba(204, 204, 204, 0.8); background-color: #fff; padding: 20px 30px; border: 1px solid #ddd; border-radius: 5px; position: absolute; top: 20%; left: 50%; width: 340px; margin-left: -170px; }
#login .content .form-group { margin-bottom: 25px; }
.se-list li ul li .ng-isolate-scope{
	background: #FFF;
	padding: 4px;
	border: 1px solid #DDD;
	border-radius: 4px;
}
ul.info-list{
	clear: both;
	margin: 0px;
	padding: 0px;
}
ul.info-list li{
	display: block;
	line-height: 30px;
	height: 30px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	clear: both;
}
ul.info-list li span{
	display: block;
	width: 80px;
	float: left;
	font-weight: bold;
}


ul.se-list{
	clear: both;
	margin: 0px;
	padding: 0px;
}
ul.se-list li{
	display: block;
	line-height: 40px;
	height: 40px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}
ul.se-list li label.first-label{
	width: 120px;
}
ul.se-list li select{
	width: 100px;
}
.text-danger{
	color: #F00;
}
.top-btn-logout{
	color: #FFF;
	line-height: 40px;
	font-size: 16px;
}

@charset "utf-8";
/* CSS Document */

.floatnone{float:none;}
.corred{color:red;}
	#content .main .filter .mc-auto-width{width:auto;}
	#content .main .filter .mc-text-width{width:370px;}
	#content .main ul.cjhdlist li{float:none;clear:both;height:auto;line-height:30px;margin:0 0 15px;overflow:hidden;}
	#content .main ul.cjhdlist label{text-align:right;padding:0;}
	#content .main .yysjtab th,
	#content .main .yysjtab td{font-size:12px;font-weight:normal;text-align:center;}
	
	/*弹窗*/
	.modal-dialog{width:700px;}
	.wind_t_pub{}
		.wind_t_pub ul{height:100%;overflow:hidden;}
			.wind_t_pub ul li{float:none;clear:both;height:auto;overflow:hidden;}
			.wind_t_pub ul li label,
			.wind_t_pub ul li input,
			.wind_t_pub ul li select{float:left;}
			.wind_t_pub ul li label{width:100px;text-align:right;}
			.wind_t_pub ul li .mc-auto-width{width:auto;}
			.wind_t_pub ul li .mc-time-width{width:125px;}
			.wind_t_pub ul li .mc-text-width{width:550px;}
			.wind_t_pub ul li .mc-name-width{width:270px;}
	/*创建活动-添加奖品及抽奖规则*/
	.add_jp{width:700px;}
			
	/*新增道具/卡券*/
	.add_dj{width:560px;}
	.add_kq{width:600px;}
		.add_kq label.radio-inline input{margin:12px 0 0 -25px;}
	.add_sj{width:600px;}
		.add_sj .modal-body ul{height:300px;overflow-y:scroll;}
		.add_sj .modal-body ul li textarea{width:400px;}
			
			
