<div class="modal-header">
  <a class="close" ng-click="$dismiss()">&times;</a>
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
  
  <ul class="info-list">
  	<li><span>ID：</span>{{entity.TUserId}}</li>
  	<li><span>姓名：</span>{{entity.name}}</li>
  	<li><span>昵称：</span>{{entity.nick}}</li>
  	<li><span>手机号：</span>{{entity.mobile}}</li>
  	<li><span>类别：</span>{{entity.brokerType|brokerType}}</li>
  	<li><span>状态：</span>{{entity.isHired|brokerStatus}}</li>
  </ul>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()" ng-disabled="item.processing">关闭</button>
</div>