<div class="modal-header">
  <a class="close" ng-click="$dismiss()">&times;</a>
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
  
  <ul class="info-list">
  	<li><span>ID：</span>{{entity.TUserId}}</li>
  	<li><span>姓名：</span>{{entity.name}}</li>
  	<li><span>昵称：</span>{{entity.nick}}</li>
  	<li><span>手机号：</span>{{entity.mobile}}</li>
  	<li><span>类别：</span>
      <input type="radio" name="brokerType" ng-model="entity.brokerType" value="1">兼职
      <input type="radio" name="brokerType" ng-model="entity.brokerType" value="0" style='margin-left:20px;'>全职
    </li>
    <li><span>状态：</span>
      <input type="radio" name="isHired" ng-model="entity.isHired" value="0" >在职
      <input type="radio" name="isHired" ng-model="entity.isHired" value="1" style='margin-left:20px;'>离职
    </li>
  </ul>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="confirm()" ng-disabled="processing">确认</button>
  <button class="btn btn-primary" ng-click="close()" ng-disabled="item.processing">关闭</button>
</div>